<ion-view title="Contact Page" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="contactPage-card22">
      <div class=" item item-image">
        <img src="img/SEdQunM4TxmZQ5BLGjj2_topcreator.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" id="contactPage-list-item15">
        <i class="icon ion-ios-telephone"></i>0123456789</ion-item>
      <ion-item class="item-icon-left balanced" id="contactPage-list-item16">
        <i class="icon ion-email"></i>jignesh.ramasamy14@gmail.com</ion-item>
      <a href-inappbrowser="https://www.google.com/maps/place/Uluru/@-25.3456562,131.0196362,14z/data=!3m1!4b1!4m5!3m4!1s0x2b236c2b6d625223:0x43a8cd4d9bc55f21!8m2!3d-25.3444277!4d131.0368822" id="contactPage-button9"
        class="button button-positive button-block">Location</a>
    </div>
  </ion-content>
</ion-view>