<ion-view title="Programming Languages" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/IfAzKxXySGyQ09i90g1p_programminglanguages.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="programmingLanguages-list1">
      <ion-item class="item-thumbnail-left item-icon-right" id="programmingLanguages-list-item1" ui-sref="hTML()">
        <img src="img/y4mzpz5dQ3yTVH9KpBd2_html.png">
        <h2>HTML</h2>
        <p style="white-space:normal;">The structure of web pages</p>
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="programmingLanguages-list-item2" ui-sref="javascript()">
        <img src="img/2kDnKHkRIiYKHefj4E8V_javscript.png">
        <h2>Javascript</h2>
        <p style="white-space:normal;">JavaScript, often abbreviated as JS, is a high-level, interpreted programming language</p>
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 36px;"></div>
    <a ui-sref="contactPage()" id="programmingLanguages-button1" class="button button-calm button-block">Contact Page</a>
  </ion-content>
</ion-view>