<ion-view title="Welcome page" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider3" delegate-handle="slider3" id="welcomePage-slider3" style="width:100%;height:100;">
      <ion-slide-page id="welcomePage-slide213" style="background:url(&quot;img/oLBK49u0Q8G9q2JNDftn_phoneimage.png&quot;) no-repeat center;background-size:cover;background-color:#CEFF03;">
        <div class="spacer" style="width: 320px; height: 33px;"></div>
        <h1 id="welcomePage-heading4" style="color:#FFFFFF;font-weight:600;text-align:center;">WELCOME</h1>
        <div class="spacer" style="width: 320px; height: 351px;"></div>
        <h3 id="welcomePage-heading5" style="color:#FFFFFF;font-weight:600;text-align:center;">Introduction To Coding</h3>
      </ion-slide-page>
      <ion-slide-page id="welcomePage-slide217" style="background:url(&quot;img/yZLVnf6QKKb307VCOIlq_phoneimage.png&quot;) no-repeat center;background-size:cover;background-color:#F7FF00;">
        <h1 id="welcomePage-heading7" style="color:#000000;"></h1>
        <div class="spacer" style="width: 320px; height: 427px;"></div>
        <a ui-sref="programmingLanguages()" id="welcomePage-button11" class="button button-positive button-block">GET STARTED!</a>
      </ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>